<%= form_for @cliente, :html => { :class => 'form-vertical' } do |f| %>
  <div class="control-group">
    <ul class="span4">
      <%= f.label :nome, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nome, :class => 'text_field span3' %>
      </div>
    </ul>
    <ul class="span3">
        <%= f.label :contato_funcao, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :contato_funcao, :class => 'text_field span2' %>
        </div>
    </ul>
    <ul class="span5">
      <%= f.label :contato_nome, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :contato_nome, :class => 'text_field span3' %>
      </div>
    </ul>
  </div>
  
  <div class="control-group">
    <ul class="span4">
      <%= f.label :cgc_cpf, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cgc_cpf, :class => 'text_field span2' %>
      </div>
    </ul>
    <ul class="span3">
      <%= f.label :inscr_estadual, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :inscr_estadual, :class => 'text_field span2' %>
      </div>
    </ul>
    <ul class="span5">
      <%= f.label :endereco, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :endereco, :class => 'text_field span4' %>
      </div>
    </ul>
  </div>
  
  <div class="control-group">
    <ul class="span4">
      <%= f.label :cidade, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cidade, :class => 'text_field span3' %>
      </div>
    </ul>  
    <ul class="span3">
      <%= f.label :estado, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :estado, :class => 'text_field span1' %>
      </div>
    </ul>  
    <ul class="span5">
      <%= f.label :cep, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cep, :class => 'text_field span2' %>
      </div>
    </ul>  
  </div>
  
  <div class="control-group">
    <ul class="span4">
      <%= f.label :telefone1, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :telefone1, :class => 'text_field span2' %>
      </div>
    </ul>  
    <ul class="span3">  
      <%= f.label :telefone2, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :telefone2, :class => 'text_field span2' %>
      </div>
    </ul>    
    <ul class="span5">  
      <%= f.label :telefone3, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :telefone3, :class => 'text_field span2' %>
      </div>
    </ul>  
  </div>
  
  <div class="control-group">
    <ul class="span4">  
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </ul>
    <ul class="span3">  
      <%= f.label :obs, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area(:obs, size: '09x04') %>
      </div>
    </ul>
    <ul class="span5">  
      <%= f.label :preco_base, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :preco_base, :class => 'text_field span2' %>
      </div>
    </ul>  
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-xs' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clientes_path, :class => 'btn btn-xs' %>
  </div>
<% end %>
