<%= simple_form_for @fornecedor, :html => { :class => 'form-vertical' } do |f| %>
  <div class="row">
    <ul class="span3">
        <%= f.input :nome, :class => 'text_field span3' %>
    </ul>
    <ul class="span2">
        <%= f.input :contato_funcao, :class => 'text_field span2' %>
    </ul>
    <ul class="span3">
        <%= f.input :contato_nome, :class => 'text_field span3' %>
    </ul>
    <ul class="span2">
        <%= f.input :cgc_cpf, :class => 'text_field span2' %>
    </ul>
    <ul class="span2">
        <%= f.input :inscr_estadual, :class => 'text_field span2' %>
    </ul>
    <ul class="span4">
        <%= f.input :endereco, :class => 'text_field span4' %>
    </ul>

    <ul class="span3">
        <%= f.input :cidade, :class => 'text_field span3' %>
    </ul>  
    <ul class="span2">
        <%= f.label "Estado" %>
        <%= collection_select(:fornecedor, :estado, Estado.order('codigo ASC').all, :codigo, :nome, prompt: true) %>
    </ul>  
    <ul class="span2">
        <%= f.input :cep, :class => 'text_field span2' %>
    </ul>  
  </div>
  
  <div class="row">
    <ul class="span2">
        <%= f.input :telefone1, as: :tel %>
    </ul>  
    <ul class="span2">  
        <%= f.input :telefone1, as: :tel %>
    </ul>    
    <ul class="span2">  
        <%= f.input :telefone1, as: :tel %>
    </ul>  
    <ul class="span6">  
        <%= f.input :email, placeholder: 'usuario@dominio.com', :class => 'text_field span4' %>
    </ul>
  </div>
  
  <div class="row">
    <ul class="span12">  
        <%= f.input :obs, :as => :text, :input_html => { :cols => 06, :rows => 4 } %>
    </ul>
    <ul class="span12">  
      <%= f.submit nil, :class => 'btn btn-primary btn-medium' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  fornecedors_path, :class => 'btn btn-medium' %>
    </ul>  
  </div>
  
<% end %>
